.topnav, Shtml, body, div, span, h2, h3, h4, h5, h6, p, a, img, form, label, table, tr, th, td, article, footer, header, menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-family: Arial;
	vertical-align: baseline;
}

.br-filter{
	display: none;
}

.form-wrapper {
  	width: 100%;
  	margin: 0 auto;
  	text-align: center;
 	background-color: #CCC;
}

.form-filter {
  	width: 45%;
  	display: inline-block;
}

button:disabled{
  background-color: #cccccc;
  color: #666666;
}

h3 {
	color: white;
	font-size: 20px;
}

.table-button {
    text-align: left;
    background-color: transparent;
    padding: 0px;
    border-width: 0;
    min-width: 100%;
	display: block;
  	overflow-y: auto;
  	outline:none;
}

.no-button {
    background:none;
    color:inherit;
    border:none; 
    cursor: pointer;
    margin: 0;
	padding: 0;
	font-family: Arial;
	vertical-align: baseline;
	padding-bottom: 0;
	border: 0;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.maps-frame {
  	height: 500px;
  	width: 100%;
  	background-color: grey;
}

.itemName{
	color: white;
	font-size: 16px;
}

article, footer, header, menu, nav, section {
	display: block;
}

.tableImage{
	width: 100px;
}

.table-padding {
	padding: 10px;
}

.loading{
	display:block;
	margin: 0 auto;
}

.center {
    margin: 0 auto;
    text-align: left;
	width: 100%;
}

.testing{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.table-responsive{
	float: left;
	max-width: 1000px;
	width: 50%;
	min-width: 370px;
}

.background-color-blue {
	background-color: #337AB7;
	color: white;
}

h4 {
	font-size: 25pt;
}

h1, h1>a, h1>a:hover, h1>a:focus {
	background-color: #337AB7;
	margin: 0;
	padding-bottom: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 40pt;
	color: white;
	text-decoration: none;
}

details summary::-webkit-details-marker { display:none; }

details summary {
	font-size: 16pt;
	text-decoration: underline;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
}

.fullItemDesc{
	width: 98%;
	margin-left:auto; 
    margin-right:auto;

}

.navbar-inverse, .navbar-inverse>a, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover, .dropdown-menu>li>a  {
	background-color: #F8F8F8;
	font-size: 16pt;
	color: black;
	margin: 0;
	padding-bottom: 0;
	border: 0;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color: #15344D;
}

footer{
	bottom: 0;
	width: 100%;
	background-color: #0051A3;
	position: fixed;
	color: white;
}

.listPages{
	text-align: center;
	width: 100%;
}

.createAccountLogin {
	text-align: center;
}

.createVolunteerGroupForm {
	text-align: center;
}

.joinVolunteerGroupForm {
	text-align: center;
}

.navbar-inverse .navbar-toggle .icon-bar {
  display: block;
  width: 50px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.navbar-toggle {
    float: none;
}

.itemStatus {
	text-align: center;
	color: white;
	font-weight: bold;
}

.available {
	background-color: #5CB85C;
}

.wanted {
	background-color: #F0AD4E;
}

.finished {
	background-color: #D9534F;
}

.edit {
	background-color: #337AB7;
}

.table-listings{
	min-width: 90%;
	height: 100px;
	display: block;
  	overflow-y: auto;
}


#searchValue {
    width: 100%; /* Full-width */
    font-size: 15px; /* Increase font-size */
    padding: 12px 12px 12px 25px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 5px; /* Add some space below the input */
}

#tableList {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.no-select-link, .no-select-link>a {
	outline: 0;
	outline-offset: 0;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown-content {
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    text-align: center;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}




















@media only screen and (min-width: 881px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-inverse>a {
    	color: green;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }

  .table-button {
	    text-align: left;
	    background-color: transparent;
	    padding: 0px;
	    border-width: 0;
	    min-width: 100%;
		display: block;
	  	overflow-y: auto;
	  	outline:none;
	}
	
}

@media only screen and (max-width: 880px){

	.br-filter{
		display: block;
	}

	.center {
		width: 100%;
	}

	.table-responsive > .table-bordered {
		border: 1px solid #ddd;	    
	}

	.table-responsive{
		float: none;
		width: 100%;
		padding: 10px;
		border: 0;
	}

	.table-button {
	    text-align: left;
	    background-color: transparent;
	    padding: 0px;
	    border-width: 0;
	    min-width: 100%;
		display: block;
	  	overflow-y: auto;
	  	outline:none;
	}

}

@media only screen and (max-width: 610px){

	h1, h1>a, h1>a:hover, h1>a:focus{
		font-size: 30px;
	}

	.table-button {
	    text-align: left;
	    background-color: transparent;
	    padding: 0px;
	    border-width: 0;
	    min-width: 100%;
		display: block;
	  	overflow-y: auto;
	  	outline:none;
	}
}

@media (min-width: 881px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-inverse>a {
    	color: green;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }

  .table-button {
	    text-align: left;
	    background-color: transparent;
	    padding: 0px;
	    border-width: 0;
	    min-width: 100%;
		display: block;
	  	overflow-y: auto;
	  	outline:none;
	}

}

@media (max-width: 880px){

	.br-filter{
		display: block;
	}

	.center {
		width: 100%;
	}

	.table-responsive > .table-bordered {
		border: 1px solid #ddd;	    
	}

	.table-responsive{
		float: none;
		width: 100%;
		padding: 10px;
		border: 0;
	}

	.table-button {
	    text-align: left;
	    background-color: transparent;
	    padding: 0px;
	    border-width: 0;
	    min-width: 100%;
		display: block;
	  	overflow-y: auto;
	  	outline:none;
	}

}

@media (max-width: 610px){

	h1, h1>a, h1>a:hover, h1>a:focus{
		font-size: 40px;
	}

	.table-button {
	    text-align: left;
	    background-color: transparent;
	    padding: 0px;
	    border-width: 0;
	    min-width: 100%;
		display: block;
	  	overflow-y: auto;
	  	outline:none;
	}
}

.inlineBlock{
	display: inline-block;
	min-width: 0px;s
}

.carousel-inner > .item > button{
	width: 100%; /* use this, or not */
	margin: auto;
}

.carousel-content {
    color: black;
    display: flex;
    align-items: center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

.col-xs-offset-3{
	margin-left: 5%;
}

.col-xs-6 {
    width: 90%;
}

.carousel-control {
    width: 5%;
}