.topnav, Shtml, body, div, span, h2, h3, h4, h5, h6, p, a, img, form, label, table, tr, th, td, article, footer, header, menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Arial;
	vertical-align: baseline;
}

article, footer, header, menu, nav, section {
	display: block;
}

h1, h1>a, h1>a:hover, h1>a:focus {
	background-color: #337AB7;
	margin: 0;
	padding-bottom: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 40pt;
	color: white;
	text-decoration: none;
}

details summary::-webkit-details-marker { display:none; }

details summary {
	font-size: 11pt;
	text-decoration: underline;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
}

.navbar-inverse, .navbar-inverse>a, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover, .dropdown-menu>li>a  {
	background-color: #F8F8F8;
	font-size: 11pt;
	color: black;
	margin: 0;
	padding-bottom: 0;
	border: 0;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color: #15344D;
}

footer{
	bottom: 0;
	width: 100%;
	background-color: #0051A3;
	position: fixed;
	color: white;
}

.createAccountLogin {
	text-align: center;
}

@media (min-width: 1000px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-inverse>a {
    	color: green;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}

@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #133461;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #252E58;
	}
}