.topnav, Shtml, body, div, span, h2, h3, h4, h5, h6, p, a, img, form, label, table, tr, th, td, article, footer, header, menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Arial;
	vertical-align: baseline;
}

article, footer, header, menu, nav, section {
	display: block;
}

.tableImage{
	width: 100px;
}

.table-padding {
	padding: 10px;
}

.loading{
	display:block;
	margin: 0 auto;
}

.center {
    margin: auto;
    text-align: left;
	width: 100%;
}

.table-responsive{
	float: left;
	max-width: 1000px;
	width: 50%;
	min-width: 370px;
}

h1, h1>a, h1>a:hover, h1>a:focus {
	background-color: #337AB7;
	margin: 0;
	padding-bottom: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 40pt;
	color: white;
	text-decoration: none;
}

details summary::-webkit-details-marker { display:none; }

details summary {
	font-size: 11pt;
	text-decoration: underline;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
}

.fullItemDesc{
	width: 98%;
	margin-left:auto; 
    margin-right:auto;

}

.navbar-inverse, .navbar-inverse>a, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover, .dropdown-menu>li>a  {
	background-color: #F8F8F8;
	font-size: 11pt;
	color: black;
	margin: 0;
	padding-bottom: 0;
	border: 0;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color: #15344D;
}

footer{
	bottom: 0;
	width: 100%;
	background-color: #0051A3;
	position: fixed;
	color: white;
}

.listPages{
	text-align: center;
	width: 100%;
}

.createAccountLogin {
	text-align: center;
}

.navbar-inverse .navbar-toggle .icon-bar {
  display: block;
  width: 50px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.navbar-toggle {
    float: none;
}

.itemStatus {
	text-align: center;
	color: white;
	font-weight: bold;
}

.available {
	background-color: #5CB85C;
}

.wanted {
	background-color: #F0AD4E;
}

.finished {
	background-color: #D9534F;
}

.edit {
	background-color: #337AB7;
}

@media (min-width: 881px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-inverse>a {
    	color: green;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}

@media (max-width: 880px){

	.center {
		width: 100%;
	}

	.table-responsive > .table-bordered {
		border: 1px solid #ddd;	    
	}

	.table-responsive{
		float: none;
		width: 100%;
		padding: 10px;
		border: 0;
	}

}

@media (max-width: 610px){
	h1, h1>a, h1>a:hover, h1>a:focus{
		font-size: 30px;
	}
}